<div class="flex flex-wrap justify-center pl-8 py-4 px-6 gap-8 rounded-md">
    <div class="card ">
        <h2 class="text-white">Total revenue</h2>
        <p  class="text-white">Total revenue chart</p>
    </div>
    <div class="card ">
        <h2 class="text-white">Total revenue</h2>
        <p  class="text-white">Total revenue chart</p>
    </div>
    <div class="card ">
        <h2 class="text-white">Total revenue</h2>
        <p  class="text-white">Total revenue chart</p>
    </div>

    <div class="card ">
        <h2 class="text-white">Total revenue</h2>
        <p  class="text-white">Total revenue chart</p>
    </div>
</div>
<hr class="text-base border-gray-800">
<div class="flex flex-wrap justify-center pl-8 py-4 px-4 gap-6 rounded-md">
    <div class="cardL ">
        <h2 class="text-white">Total revenue</h2>
        <p  class="text-white">Total revenue chart</p>
    </div>
    <div class="cardL ">
        <h2 class="text-white">Total revenue</h2>
        <p  class="text-white">Total revenue chart</p>
    </div>
</div>
