<div class="h-screen grid grid-cols-2 gap-3 p-3">
    <div class=" bg-gray-900  shadow-md shadow-gray-800  w-full  ">
        <div>
            <p class="text-sm pl-2 py-4 sm:text-2xl font-bold text-gray-500">In stock:</p>
        </div>
        <div>
            <table class="w-full" >
                <thead>
                    <tr class="text-sm font-medium text-gray-500 border-y border-violet-900 ">
                    <td class="py-4 px-4 text-center  hover:text-violet-600" >Product</td>
                    <td class="py-4 px-4 text-center  hover:text-violet-600">In stock</td>
                    <td class="py-4 px-4 text-center  hover:text-violet-600">Unit price</td>
                    <td class="py-4 px-4 text-center  hover:text-violet-600">Stock value</td>
                </tr>
                </thead>
                <tbody >
                    <tr class=" w-full text-sm font-medium text-gray-500 border-b border-violet-900  hover:bg-gray-800 hover:text-white cursor-pointer">
                        <td class="py-4 px-4 text-center">1</td>
                        <td class="py-4 px-4 text-center">2</td>
                        <td class="py-4 px-4 text-center">3</td>
                        <td class="py-4 px-4 text-center">4</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div class="grid grid-rows-2 gap-3" >
        <div class=" bg-gray-900 pl-1  shadow-md shadow-gray-800   w-full ">
            <p class=" text-sm  py-4 sm:text-2xl font-bold text-gray-500  ">Restocking notifications:</p>
            <div class=" w-full  relative   border border-violet-900 rounded-md ">
               <div class="w-full text-sm font-bold text-gray-500 text-center border-b   border-violet-900   ">Stock notifications</div>
               <!--
                test 
               -->
               <div class="cursor-pointer px-[0.30]">
                <div class="absolute right-0 pr-4 ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info text-blue-500" viewBox="0 0 16 16">
                        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                      </svg>
                </div>
                <p class="w-full  border-b border-blue-400 text-blue-500 text-sm font-medium text-center  hover:bg-blue-400 hover:text-white"> notifications</p>
               </div>
            </div>
        </div>
        <div class=" bg-gray-900  shadow-md shadow-gray-800  w-full ">
            <div>
                <p class=" text-sm pl-2 py-4 sm:text-2xl font-bold text-gray-500 ">Low-stock alerts:</p>
            </div>
            <div class=" w-full  relative   border border-violet-900 rounded-md ">
                <div class="w-full text-sm font-bold text-gray-500 text-center border-b   border-violet-900   ">Low-stock alerts</div>
                <!--
                 test 
                -->
                <div class="cursor-pointer px-[0.30]">
                 <div class="absolute right-0 pr-4 ">
                     <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-exclamation-lg  text-red-500 " viewBox="0 0 16 16">
                         <path d="M7.005 3.1a1 1 0 1 1 1.99 0l-.388 6.35a.61.61 0 0 1-1.214 0L7.005 3.1ZM7 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0Z"/>
                       </svg>
                 </div>
                 
                 <p class="w-full  border-b border-red-400 text-red-500  text-sm font-medium text-center  hover:bg-red-400 hover:text-white"> alerts</p>
                </div>
             </div>



        </div>

    </div>

</div>



