<nav class="bg-gray-400 border-gray-200 dark:bg-white">
<div class="flex justify-between py-2  items-center  ">

    <div>
        <a>
            <img src="assets/Jemo.png" alt="logo" class="w-10 h-10">
        </a>
    </div>

    <div class="flex items-center">
        <div class="flex items-center bg-gray-800 px-2 rounded-md text-white">
            <a href="#userAccount">
                <div class="flex ml-1">
                    <button>Logout</button>
                 </div>
            </a>
        </div>
    </div>

</div>
</nav>
