<div class="flex justify-between py-1  items-center  ">

    <div>
        <a>
            <img src="assets/Jemo.png" alt="logo" class="w-10 h-10">
        </a>
    </div>

    <div class="flex items-center">
        <div class="mr-3 hover:underline">
         <a href="/logout">Logout</a>
        </div>

        <div class="flex items-center bg-zinc-300 px-2 rounded-md">
            <a href="#userAccount">
                <div class="flex">
                    <div>
                      <img src="assets/user_pic.png" alt="user icon" class="w-7 h-7">
                    </div>  
                    <div>
                      <h6 class="ml-1">Admin</h6>
                    </div>  
                  </div>
            </a>
        </div>
    </div>

</div>
