<nav class="bg-gray-400 border-gray-200 dark:bg-white">
<div class="flex justify-between py-2  items-center  ">

    <div>
        <a>
            <img src="assets/Jemo.png" alt="logo" class="w-10 h-10 ml-5">
        </a>
    </div>

    <div class="flex items-center">
        <div>
            <a routerLink="/authentication" routerLinkActive="active" >
                <div class="flex ml-1">
                    <button type="button" (click)="logout" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-full text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">Logout</button>
                 </div>
            </a>
        </div>
    </div>

</div>
</nav>
