<div *ngIf="isOpen=== true" class=" w-64 h-screen bg-gray-900 rounded-lg shadow-lg shadow-gray-700  overflow-y-auto custom-scrollbar component-container ">
    <div class="px-6 pt-8">
        <div class="flex items-center justify-between">
            <a href="#" class="p-1 flex items-center justify-center  text-violet-900 rounded focus:outline-none focus:ring-1 focus:ring-white focus:ring-offset-2">
                <img src="assets/Jemo.png" alt="logo" class="w-9 h-9 ">
            </a>
            <button class="flex items-center justify-center p-0.5 rounded bg-gray-800" (click)=" closeSideBar()">
                <mat-icon [ngClass]="{'rotate180' : isExpanded}" class="w-7 h-7 stroke-current text-gray-500" >arrow_left_alt</mat-icon>

            </button>
        </div>

    </div>
    <div class="px-6 pt-4">
        <div class="relative">
            <div class="absolute inset-y-0 left-0 flex items-center pl-2">
             <mat-icon class="w-7 h-7 stroke-current text-gray-500" view-Box="002424">search</mat-icon>
            </div>
            <input type="text" class="w-full rounded pl-8 px-4 py-2.5 text-xs font-light bg-gray-800 text-gray-400 placeholder-gray-500" placeholder="search">
        </div>
    </div>
    <div class="px-6 pt-4 ">
    <hr class="border-violet-900">
    </div>
    <div class="px-6 pt-4 cursor-pointer group ">
        <div>
            <ul class="flex flex-col space-y-2">
                <li  >
                  <div class="relative text-gray-500 hover:text-white flex justify-between">
                    <div class="flex items-center w-full " >
                        <div class="absolute inset-y-0 left-0 flex items-center pl-1 pointer-events-none ">
                            <mat-icon class=" w-7 h-7 stroke-current text-gray-500" view-Box="002424">dashboard</mat-icon>
                           </div>
                            <a (click)="selectItem('Dashboard')" routerLinkActive="active" class="inline-block w-full pr-4 pl-8 py-3 text-xs hover:bg-gray-800 rounded">Overview</a>
                    </div>
                    <button  class="absolute right-0 p-1 flex items-center" (click)="toggleExpanded(1)" >
                        <mat-icon class="w-7 h-7 stroke-current text-gray-500" view-Box="002424"
                        [ngClass]="{'rotate180' : isExpanded_D}"
                        >expand_more</mat-icon>
                    </button>
                  </div>
                  <div class="pt-2 pl-4" *ngIf="Dashboard">
                    <ul class="flex flex-col pl-2 text-gray-500 border-l border-gray-700">
                        <li><a (click)="selectItem('Inventorry-Status')" routerLinkActive="active" class="inline-block w-full px-4 py-2 text-xs rounded hover:bg-gray-800 hover:text-white ">Inventorry Status</a></li>

                    </ul>

                  </div>
                </li>
            </ul>
        </div>

    </div>
    <div class="px-6 pt-4 cursor-pointer">
        <div>
            <ul class="flex flex-col space-y-2">
                <li>
                   <div class="relative text-gray-500 hover:text-white flex justify-between">
                    <div class="flex items-center w-full ">
                        <div class="absolute inset-y-0 left-0 flex items-center pl-1">
                            <mat-icon class=" w-7 h-7 stroke-current text-gray-500" view-Box="002424">local_mall</mat-icon>
                           </div>
                            <a (click)="selectItem('Product')" routerLinkActive="active" class="inline-block w-full pr-4 pl-8 py-3 text-xs hover:bg-gray-800 rounded">Product</a>
                    </div>
                    <button class="absolute right-0 p-1 flex items-center" (click)="toggleExpanded(2)">
                        <mat-icon [ngClass]="{'rotate180' : isExpanded_P}" class="w-7 h-7 stroke-current text-gray-500" view-Box="002424" >expand_more</mat-icon>
                    </button>
                   </div>
                   <div class="pt-2 pl-4" *ngIf="Product">
                    <ul class="flex flex-col pl-2 text-gray-500 border-l border-gray-700">
                        <li><a (click)="selectItem('Product-Performance')" routerLinkActive="active" class="inline-block w-full px-4 py-2 text-xs rounded hover:bg-gray-800 hover:text-white ">Product Performance</a></li>

                    </ul>

                  </div>
                </li>
            </ul>
        </div>

    </div>
    <div class="px-6 pt-4 cursor-pointer">
        <div>
            <ul class="flex flex-col space-y-2">
                <li>
                   <div class="relative text-gray-500 hover:text-white flex justify-between">
                    <div class="flex items-center w-full ">
                        <div class="absolute inset-y-0 left-0 flex items-center pl-1">
                            <mat-icon class=" w-7 h-7 stroke-current text-gray-500" view-Box="002424">local_grocery_store</mat-icon>
                           </div>
                            <a (click)="selectItem('Orders')" routerLinkActive="active" class="inline-block w-full pr-4 pl-8 py-3 text-xs hover:bg-gray-800 rounded">Orders</a>
                    </div>
                    <button class="absolute right-0 p-1 flex items-center" (click)="toggleExpanded(3)">
                        <mat-icon [ngClass]="{'rotate180' : isExpanded_O}" class="w-7 h-7 stroke-current text-gray-500" view-Box="002424" >expand_more</mat-icon>
                    </button>
                   </div>
                   <div class="pt-2 pl-4" *ngIf="Orders">
                    <ul class="flex flex-col pl-2 text-gray-500 border-l border-gray-700">
                        <li><a (click)="selectItem('Order-Tracking')" routerLinkActive="active" class="inline-block w-full px-4 py-2 text-xs rounded hover:bg-gray-800 hover:text-white ">Order Tracking</a></li>
                        <li><a (click)="selectItem('Order-Processing')" routerLinkActive="active" class="inline-block w-full px-4 py-2 text-xs rounded hover:bg-gray-800 hover:text-white ">Order Processing</a></li>

                    </ul>

                  </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="px-6 pt-4 cursor-pointer">
            <div>
                <ul class="flex flex-col space-y-2">
                    <li>
                       <div class="relative text-gray-500 hover:text-white flex justify-between">
                        <div class="flex items-center w-full ">
                            <div class="absolute inset-y-0 left-0 flex items-center pl-1">
                                <mat-icon class=" w-7 h-7 stroke-current text-gray-500" view-Box="002424">people</mat-icon>
                               </div>
                                <a (click)="selectItem('Customer-Insights')"  routerLinkActive="active" class="inline-block w-full pr-4 pl-8 py-3 text-xs hover:bg-gray-800 rounded">Customer Insights</a>
                        </div>
                        <button class="absolute right-0 p-1 flex items-center" (click)="toggleExpanded(4)">
                            <mat-icon [ngClass]="{'rotate180' : isExpanded_C}" class="w-7 h-7 stroke-current text-gray-500" view-Box="002424" >expand_more</mat-icon>
                        </button>
                       </div>
                       <div class="pt-2 pl-4" *ngIf="Customer">
                        <ul class="flex flex-col pl-2 text-gray-500 border-l border-gray-700">
                            <li><a (click)="selectItem('Customer-Profiles')"  class="inline-block w-full px-4 py-2 text-xs rounded hover:bg-gray-800 hover:text-white ">Customer Profiles</a></li>
                            <li><a (click)="selectItem('Segmentation')"  class="inline-block w-full px-4 py-2 text-xs rounded hover:bg-gray-800 hover:text-white ">Segmentation</a></li>
    
                        </ul>
    
                      </div>
                    </li>
                </ul>
            </div>
    
        </div>
        <div class="px-6 pt-4 cursor-pointer">
            <div>
                <ul class="flex flex-col space-y-2">
                    <li>
                       <div class="relative text-gray-500 hover:text-white flex justify-between">
                        <div class="flex items-center w-full ">
                            <div class="absolute inset-y-0 left-0 flex items-center pl-1">
                                <mat-icon class=" w-7 h-7 stroke-current text-gray-500" view-Box="002424">local_shipping</mat-icon>
                               </div>
                                <a (click)="selectItem('Supplies')"  routerLinkActive="active" class="inline-block w-full pr-4 pl-8 py-3 text-xs hover:bg-gray-800 rounded">Supplies</a>
                        </div>
                        <button class="absolute right-0 p-1 flex items-center" (click)="toggleExpanded(5)">
                            <mat-icon [ngClass]="{'rotate180' : isExpanded_S}" class="w-7 h-7 stroke-current text-gray-500" view-Box="002424" >expand_more</mat-icon>
                        </button>
                       </div>
                       <div class="pt-2 pl-4" *ngIf="Supplies">
                        <ul class="flex flex-col pl-2 text-gray-500 border-l border-gray-700">
                            <li><a (click)="selectItem('Supplies-List')"  routerLinkActive="active" class="inline-block w-full px-4 py-2 text-xs rounded hover:bg-gray-800 hover:text-white ">Supplies List</a></li>
                            <li><a (click)="selectItem('Supplies-Management')"  routerLinkActive="active" class="inline-block w-full px-4 py-2 text-xs rounded hover:bg-gray-800 hover:text-white ">Supplies Management</a></li>
    
                        </ul>
    
                      </div>
                    </li>
                </ul>
            </div>
    
        </div>
        <div class="px-6 pt-4 cursor-pointer">
            <div>
                <ul class="flex flex-col space-y-2">
                    <li>
                       <div class="relative text-gray-500 hover:text-white flex justify-between">
                        <div class="flex items-center w-full ">
                            <div class="absolute inset-y-0 left-0 flex items-center pl-1">
                                <mat-icon class=" w-7 h-7 stroke-current text-gray-500" view-Box="002424">person</mat-icon>
                               </div>
                                <a (click)="selectItem('User-Management')" routerLinkActive="active" class="inline-block w-full pr-4 pl-8 py-3 text-xs hover:bg-gray-800 rounded">User Management</a>
                        </div>
                        <button class="absolute right-0 p-1 flex items-center" (click)="toggleExpanded(6)">
                            <mat-icon [ngClass]="{'rotate180' : isExpanded_U}" class="w-7 h-7 stroke-current text-gray-500" view-Box="002424" >expand_more</mat-icon>
                        </button>
                       </div>
                       <div class="pt-2 pl-4" *ngIf="User_Management">
                        <ul class="flex flex-col pl-2 text-gray-500 border-l border-gray-700">
                            <li><a (click)="selectItem('Admins-List')" routerLinkActive="active" class="inline-block w-full px-4 py-2 text-xs rounded hover:bg-gray-800 hover:text-white ">Admins List</a></li>
                            <li><a (click)="selectItem('Admins-Management')" routerLinkActive="active" class="inline-block w-full px-4 py-2 text-xs rounded hover:bg-gray-800 hover:text-white ">Admins Management</a></li>
    
                        </ul>
    
                      </div>
                    </li>
                </ul>
            </div>
    
        </div>
        <div class="px-6 pt-4 cursor-pointer">
            <div>
                <ul class="flex flex-col space-y-2">
                    <li>
                       <div class="relative text-gray-500 hover:text-white flex justify-between">
                        <div class="flex items-center w-full ">
                            <div class="absolute inset-y-0 left-0 flex items-center pl-1">
                                <mat-icon class=" w-7 h-7 stroke-current text-gray-500" view-Box="002424">report</mat-icon>
                               </div>
                                <a (click)="selectItem('Reporting')" routerLinkActive="active" class="inline-block w-full pr-4 pl-8 py-3 text-xs hover:bg-gray-800 rounded">Reporting</a>
                        </div>
                        <button class="absolute right-0 p-1 flex items-center" (click)="toggleExpanded(7)">
                            <mat-icon [ngClass]="{'rotate180' : isExpanded_R}" class="w-7 h-7 stroke-current text-gray-500" view-Box="002424" >expand_more</mat-icon>
                        </button>
                       </div>
                       <div class="pt-2 pl-4" *ngIf="Reporting">
                        <ul class="flex flex-col pl-2 text-gray-500 border-l border-gray-700">
                            <li><a (click)="selectItem('Client-Reports')" routerLinkActive="active" class="inline-block w-full px-4 py-2 text-xs rounded hover:bg-gray-800 hover:text-white ">Client Reports</a></li>
                            <li><a (click)="selectItem('Admin-Reports')" routerLinkActive="active" class="inline-block w-full px-4 py-2 text-xs rounded hover:bg-gray-800 hover:text-white ">Admin Reports</a></li>
                        </ul>
    
                      </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="px-6 pt-8">
            <hr class="border-violet-900"/>
        </div>

        <div class="px-6 pt-4 cursor-pointer">
            <div>
                <ul class="flex flex-col space-y-2">
                    <li class="">
                       <div class="relative text-gray-500 hover:text-white flex justify-between">
                        <div class="flex items-center w-full ">
                            <div class="absolute inset-y-0 left-0 flex items-center pl-1">
                                <mat-icon class=" w-7 h-7 stroke-current text-gray-500" view-Box="002424">settings</mat-icon>
                               </div>
                                <a (click)="selectItem('settings')" routerLinkActive="active" class="inline-block w-full pr-4 pl-8 py-3 text-xs hover:bg-gray-800 rounded">Settings</a>
                        </div>
            
                       </div>
                
                    </li>
                </ul>
            </div>
        </div>
        <div class="bottom-div sticky">
            <div class=" pl-1 py-4 bg-gray-800 flex items-center justify-between">
                <div class="flex items-center">
                    <div  class=" relative rounded-full before:absolute before:w-2 before:h-2 before:bg-green-500 before:rounded-full before:right-0 before:bottom-0 before:ring-1 before:ring-white before:animate-bounce   h-full w-full ">
                    <img class="rounded-full" src="assets/user.jpg" alt="UserImage">
                    </div>
                    <div class="flex flex-col pl-3">
                        <div class="text-sm text-gray-50">Jane Jensen</div>
                        <span class="text-xs text-[#acacb0] font-light tracking-tight">janejensen@gmail.com</span>
                    </div>
                </div>
                <a>
                    <div class="flex ml-1">
                        <button type="button" (click)="logout()" class="text-gray-300  hover:bg-gray-900 focus:outline-none focus:ring-4  font-medium rounded-full text-sm px-5 py-2.5 mr-2 mb-2  dark:bg-gray-700  dark:hover:bg-violet-900 dark:focus:ring-violet-900 dark:border-violet-900">Logout</button>
                     </div>
                </a>
            </div>
        </div>
</div>





<div *ngIf="isOpen=== false" class=" w-20 h-screen bg-gray-900 rounded-lg shadow-lg shadow-gray-700  overflow-y-auto custom-scrollbar ">
    
    <a href="#" class=" pt-6 flex items-center justify-center  text-violet-900 rounded focus:outline-none focus:ring-1 focus:ring-white focus:ring-offset-2">
        <img src="assets/Jemo.png" alt="logo" class="w-9 h-9 ">
    </a>
    <div class="px-6 pt-6 ">
        <div class="flex items-center ">
            <button class="flex items-center justify-center p-0.5 rounded bg-gray-800" (click)=" closeSideBar()">
                <mat-icon [ngClass]="{'rotate180' : isExpanded}" class="w-7 h-7 stroke-current text-gray-500" >arrow_left_alt</mat-icon>

            </button>
        </div>

    </div>
    
    <div class="px-6 pt-4 ">
    <hr class="border-violet-900">
    </div>
    <div class="px-6 py-2 cursor-pointer group ">
        <div>
            <ul class="flex space-y-2">
                <li  >
                  <div class="relative text-gray-500 hover:text-white flex ">
                    <div class="flex items-center w-full " >
                        <div class="absolute inset-y-0 left-0 flex items-center pl-1 pointer-events-none ">
                            <mat-icon class=" w-7 h-7 stroke-current text-gray-500" view-Box="002424">dashboard</mat-icon>
                           </div>
                            <a (click)="selectItem('Dashboard')" routerLinkActive="active" class="inline-block w-full pr-4 pl-8 py-3 text-xs hover:bg-gray-800 rounded"></a>
                    </div>
                  </div>
             
                </li>
            </ul>
        </div>

    </div>
    <div class="px-6 py-2 cursor-pointer">
        <div>
            <ul class="flex  space-y-2">
                <li>
                   <div class="relative text-gray-500 hover:text-white flex ">
                    <div class="flex items-center w-full ">
                        <div class="absolute inset-y-0 left-0 flex items-center pl-1">
                            <mat-icon class=" w-7 h-7 stroke-current text-gray-500" view-Box="002424">local_mall</mat-icon>
                           </div>
                            <a (click)="selectItem('Product')" routerLinkActive="active" class="inline-block w-full pr-4 pl-8 py-3 text-xs hover:bg-gray-800 rounded"></a>
                    </div>
                
                   </div>
           
                </li>
            </ul>
        </div>

    </div>
    <div class="px-6 py-2 cursor-pointer">
        <div>
            <ul class="flex space-y-2">
                <li>
                   <div class="relative text-gray-500 hover:text-white flex ">
                    <div class="flex items-center w-full ">
                        <div class="absolute inset-y-0 left-0 flex items-center pl-1">
                            <mat-icon class=" w-7 h-7 stroke-current text-gray-500" view-Box="002424">local_grocery_store</mat-icon>
                           </div>
                            <a (click)="selectItem('Orders')" routerLinkActive="active" class="inline-block w-full pr-4 pl-8 py-3 text-xs hover:bg-gray-800 rounded"></a>
                    </div>

                   </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="px-6 py-2 cursor-pointer">
            <div>
                <ul class="flex  space-y-2">
                    <li>
                       <div class="relative text-gray-500 hover:text-white flex ">
                        <div class="flex items-center w-full ">
                            <div class="absolute inset-y-0 left-0 flex items-center pl-1">
                                <mat-icon class=" w-7 h-7 stroke-current text-gray-500" view-Box="002424">people</mat-icon>
                               </div>
                                <a (click)="selectItem('Customer-Insights')"  routerLinkActive="active" class="inline-block w-full pr-4 pl-8 py-3 text-xs hover:bg-gray-800 rounded"></a>
                        </div>
                       </div>
                    </li>
                </ul>
            </div>
    
        </div>
        <div class="px-6 py-2 cursor-pointer">
            <div>
                <ul class="flex  space-y-2">
                    <li>
                       <div class="relative text-gray-500 hover:text-white flex ">
                        <div class="flex items-center w-full ">
                            <div class="absolute inset-y-0 left-0 flex items-center pl-1">
                                <mat-icon class=" w-7 h-7 stroke-current text-gray-500" view-Box="002424">local_shipping</mat-icon>
                               </div>
                                <a (click)="selectItem('Supplies')"  routerLinkActive="active" class="inline-block w-full pr-4 pl-8 py-3 text-xs hover:bg-gray-800 rounded"></a>
                        </div>                       
                       </div>        
                    </li>
                </ul>
            </div>
    
        </div>
        <div class="px-6 py-2 cursor-pointer">
            <div>
                <ul class="flex space-y-2">
                    <li>
                       <div class="relative text-gray-500 hover:text-white flex ">
                        <div class="flex items-center w-full ">
                            <div class="absolute inset-y-0 left-0 flex items-center pl-1">
                                <mat-icon class=" w-7 h-7 stroke-current text-gray-500" view-Box="002424">person</mat-icon>
                               </div>
                                <a (click)="selectItem('User-Management')" routerLinkActive="active" class="inline-block w-full pr-4 pl-8 py-3 text-xs hover:bg-gray-800 rounded"></a>
                        </div>
                       </div>
                    </li>
                </ul>
            </div>
    
        </div>
        <div class="px-6 py-2 cursor-pointer">
            <div>
                <ul class="flex space-y-2">
                    <li>
                       <div class="relative text-gray-500 hover:text-white flex ">
                        <div class="flex items-center w-full ">
                            <div class="absolute inset-y-0 left-0 flex items-center pl-1">
                                <mat-icon class=" w-7 h-7 stroke-current text-gray-500" view-Box="002424">report</mat-icon>
                               </div>
                                <a (click)="selectItem('Reporting')" routerLinkActive="active" class="inline-block w-full pr-4 pl-8 py-3 text-xs hover:bg-gray-800 rounded"></a>
                        </div>                   
                       </div>                      
                    </li>
                </ul>
            </div>
        </div>
        <div class="px-6 pt-8">
            <hr class="border-violet-900"/>
        </div>

        <div class="px-6 py-2 cursor-pointer">
            <div>
                <ul class="flex  space-y-2">
                    <li class="">
                       <div class="relative text-gray-500 hover:text-white flex">
                        <div class="flex items-center w-full ">
                            <div class="absolute inset-y-0 left-0 flex items-center pl-1">
                                <mat-icon class=" w-7 h-7 stroke-current text-gray-500" view-Box="002424">settings</mat-icon>
                               </div>
                                <a (click)="selectItem('settings')" routerLinkActive="active" class="inline-block w-full pr-4 pl-8 py-3 text-xs hover:bg-gray-800 rounded"></a>
                        </div>
            
                       </div>
                
                    </li>
                </ul>
            </div>
        </div>
        <div class="bottom-div">
            <div class=" pl-6 pr-6 py-6 bg-gray-800 flex items-center relative">
                <div class="flex items-center">
                    <div  class=" relative w-8 h-8 rounded-full before:animate-bounce before:absolute before:w-2 before:h-2 before:bg-green-500 before:rounded-full before:right-0 before:bottom-0 before:ring-1 before:ring-white ">
                    <img class="rounded-full" src="assets/user.jpg" alt="UserImage">
                    </div>
                </div>
            </div>
        </div>
</div>
 









