<div class="w-64 h-screen bg-gray-900 rounded-md">
    <div class="px-6 pt-8">
        <div class="flex items-center justify-between">
            <a href="#" class="p-1.5 rounded flex items-center justify-center"></a>
            <button class="flex items-center justify-center p-0.5 rounded bg-gray-800">

            </button>
        </div>

    </div>
    <div class="px-6 pt-4">
        <input type="text" class="w-full rounded pl-8 px-4 py-2.5 text-xs font-light bg-gray-800 text-gray-400 placeholder-gray-500" placeholder="search">
    </div>
    <div class="px-6 pt-4 ">
    <hr class="border-gray-700">
    </div>
    <div class="px-6 pt-4 ">
        <div>
            <ul class="flex flex-col space-y-2">
                <li class="relative text-gray-500 hover:text-white">
                    <a href="#" class="inline-block w-full pr-4 pl-8 py-2 text-xs hover:bg-gray-800 rounded">Dashboard</a>
                </li>
            </ul>
        </div>

    </div>
</div>
