<div class="h-screen grid  p-2 ">
    <div class="shadow-lg shadow-gray-600 w-full">
       <div class="flex p-4">
        <img class=" h-10 w-auto" src="assets/Jemo.png" alt="Jemo">
        <h1 class=" pl-1 pt-4  text-xl font-bold  leading-3 tracking-tight text-violet-800" >Create Item:</h1>
       </div>

        <div class="w-full  px-4 lg:px-8">
          
            <div class=" mt-5 sm:mx-auto sm:w-full sm:max-w-md">
              <form  class="space-y-6 " action="#" method="POST">

                    <div>
                        <label for="name" class="block text-sm font-medium leading-6 text-stone-950">Name:</label>
                        <div class="mt-2">
                          <input id="name" name="name" placeholder="Item name"   type="text"  required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-stone-950 sm:text-sm sm:leading-6">
                        </div>
                      </div>

                <div>
                    <label for="description" class="block text-sm font-medium leading-6 text-stone-950">Description:</label>
                    <div class="mt-2">
                      <textarea id="description" name="description" placeholder="Description"  type="description"  required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-stone-950 sm:text-sm sm:leading-6"></textarea>
                    </div>
                  </div>


                  <div class="flex gap-x-2">
                    <div>
                        <label for="priceHt" class="block text-sm font-medium leading-6 text-stone-950">Price Ht:</label>
                        <div class="mt-2">
                          <input id="priceHt" name="priceHt" placeholder="Price Ht"  type="number" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-stone-950 sm:text-sm sm:leading-6">
                        </div>
                      </div>
    
                      <div>
                        <label for="tva" class="block text-sm font-medium leading-6 text-stone-950">TVA:</label>
                        <div class="mt-2">
                          <input id="tva" name="tva" placeholder="TVA" type="number"  required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-stone-950 sm:text-sm sm:leading-6">
                        </div>
                      </div>
    
                      <div>
                        <label for="priceTTC" class="block text-sm font-medium leading-6 text-stone-950">Price TTC:</label>
                        <div class="mt-2">
                          <input id="priceTTC" name="priceTTC" placeholder="Price TTC"  type="number"  required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-stone-950 sm:text-sm sm:leading-6">
                        </div>
                      </div>
                  </div>

                  <div>
                    <div class="flex justify-between">
                      <label for="image" class="block text-sm font-medium leading-6 text-stone-950">Image:</label>
                    
                    </div>
                    <div class="mt-2">
                      <input id="image" name="image" type="file" (change)="onFileSelected($event)" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-stone-950 sm:text-sm sm:leading-6">
                    </div>
                  </div>


                  <div>
                    <label for="category" class="block text-sm font-medium leading-6 text-stone-950">Category:</label>
                    <div class="mt-2">
                     <select  name="category" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-stone-950 sm:text-sm sm:leading-6">
                        <option value="">-- Please choose a category</option>
                        <option value=""></option>

                     </select>
                    </div>
                  </div>
          
                <div class="flex items-center justify-center gap-x-2">                  
                <button type="submit" class="flex w-full justify-center rounded-md bg-violet-800 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-violet-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-stone-950">Add Item</button>   
                <button type="reset" class="flex w-full justify-center rounded-md bg-slate-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-slate-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-stone-950">Clear</button>
                        
                </div>
              </form>
          
            </div>
        </div>
    </div>
</div>
