
<div class="flex flex-wrap justify-start py-4 px-4 gap-2 rounded-md">
    <div class="card ">
        <h2 class="text-white">Data Sales</h2>
        <div>
            <ngx-charts-bar-vertical [view]="view"
            [results]="data"
            [showXAxisLabel]="showXAxis"
            [showYAxisLabel]="showYAxis"></ngx-charts-bar-vertical>
    
        </div>
        <p  class="text-white">Data sales chart</p>
    </div>
    <div class="card ">
        <h2 class="text-white">Data Sales</h2>
        <div>
    
        </div>
        <p  class="text-white">Data sales chart</p>
    </div>
    <div class="card ">
        <h2 class="text-white">Data Sales</h2>
        <div>
    
        </div>
        <p  class="text-white">Data sales chart</p>
    </div>
</div>