<div class="flex flex-wrap justify-start py-4 px-4 gap-10 rounded-md">
    <div class="card1 ">
        <h2 class="text-white">Total revenue</h2>
        <p  class="text-white">Total revenue chart</p>
    </div>
    <div class="card2 ">
        <h2 class="text-white">Top-selling products</h2>
        <div>
    
        </div>
        <p  class="text-white">Top-selling products</p>
    </div>
    <div class="card3 ">
        <h2 class="text-white">Number of orders</h2>
        <div>
    
        </div>
        <p  class="text-white"> number of orders chart</p>
    </div>
    <div class="card4 ">
        <h2 class="text-white">Average order value</h2>
        <div>
    
        </div>
        <p  class="text-white">average order value</p>
    </div>
</div>

