<div class="bg-gray-950 flex items-start justify-normal ">
    <div class="flex flex-row">
        <app-side-navbar (itemSelected)="selectedItem = $event"></app-side-navbar>
        
    </div>
    <div class=" w-full h-screen">
        <div>
            <ng-container *ngIf="selectedItem === '' ">
                <div>
                    Home
                </div>
     
            </ng-container>
            <ng-container *ngIf="selectedItem === 'Dashboard'">
                <app-overview></app-overview>
            </ng-container>
            <ng-container *ngIf="selectedItem === 'Inventorry-Status'">
                <app-inventorry-satuts></app-inventorry-satuts>
            </ng-container>
            <ng-container *ngIf="selectedItem === 'Visitor-Traffic'">
                <app-visitor-traffic></app-visitor-traffic>
            </ng-container>

            <ng-container *ngIf="selectedItem === 'Product'">
                <app-product></app-product>
            </ng-container>
            
            <ng-container *ngIf="selectedItem === 'Inventory-Management'">
                <app-inventorry-management></app-inventorry-management>
            </ng-container>
            <ng-container *ngIf="selectedItem === 'Product-Performance'">
                <app-product-performance></app-product-performance>
            </ng-container>


            <ng-container *ngIf="selectedItem === 'Orders'">
                <app-orders></app-orders>
            </ng-container>
            <ng-container *ngIf="selectedItem === 'Order-List'">
                <app-order-list></app-order-list>
            </ng-container>
            <ng-container *ngIf="selectedItem === 'Order-Tracking'">
                <app-order-tracking></app-order-tracking>
            </ng-container>
            <ng-container *ngIf="selectedItem === 'Order-Processing'">
                <app-order-processing></app-order-processing>
            </ng-container>


            <ng-container *ngIf="selectedItem === 'Customer-Insights'">
                <app-customer-insights></app-customer-insights>
            </ng-container>
            <ng-container *ngIf="selectedItem === 'Customer-Profiles'">
                <app-customer-profiles></app-customer-profiles>
            </ng-container>
            <ng-container *ngIf="selectedItem === 'Segmentation'">
                <app-segmentation></app-segmentation>
            </ng-container>


            <ng-container *ngIf="selectedItem === 'Supplies'">
                <app-suppliers></app-suppliers>
            </ng-container>
            <ng-container *ngIf="selectedItem === 'Supplies-List'">
                <app-supplies-list></app-supplies-list>
            </ng-container>
            <ng-container *ngIf="selectedItem === 'Supplies-Management'">
                <app-supplies-management></app-supplies-management>
            </ng-container>


            <ng-container *ngIf="selectedItem === 'User-Management'">
                <app-user-management></app-user-management>
            </ng-container>
            <ng-container *ngIf="selectedItem === 'Admins-List'">
                <app-admins-list></app-admins-list>
            </ng-container>
            <ng-container *ngIf="selectedItem === 'Admins-Management'">
                <app-admins-management></app-admins-management>
            </ng-container>


            <ng-container *ngIf="selectedItem === 'Reporting'">
                <app-reporting></app-reporting>
            </ng-container>
            <ng-container *ngIf="selectedItem === 'Client-Reports'">
                <app-client-reports></app-client-reports>
            </ng-container>
            <ng-container *ngIf="selectedItem === 'Admin-Reports'">
                <app-admin-reports></app-admin-reports>
            </ng-container>

            <ng-container *ngIf="selectedItem === 'settings'">
                <app-settings></app-settings>
            </ng-container>


            <ng-container *ngIf="selectedItem === 'notifications'">
                <app-notifications></app-notifications>
            </ng-container>

              
        </div>
        
    </div>
    
</div>
    
    
