<div class="h-screen grid   p-3 "> 
    <div class="bg-gray-900 shadow-md shadow-gray-800 w-full">

        <div class="flex items-center justify-between py-7 px-10">
            <p class="text-sm  sm:text-2xl font-bold text-gray-500 ">Bestselling products:</p>
        </div>
        <div>
            <table class="w-full border-b border-violet-900 " >
                <thead>
                    <tr class="text-sm font-medium text-gray-500 border-y border-violet-900">
                    <td class="py-4 px-4 text-center" >Product</td>
                    <td class="py-4 px-4 text-center">Price</td>
                    <td class="py-4 px-4 text-center">Unit price</td>
                    <td class="py-4 px-4 text-center">In Stock</td>
                    <td class="py-4 px-4 text-center">Stock value</td>
                </tr>
                </thead>
                <tbody >
                    <tr class="w-full font-medium  hover:bg-gray-600 hover:text-white cursor-pointer">
                        <td class="font-medium text-center text-white py-4">1</td>
                        <td class="font-medium text-center text-white">2</td>
                        <td class="font-medium text-center text-white">3</td>
                        <td class="font-medium text-center text-white">4</td>
                        <td class="font-medium text-center text-white">5</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
