/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.active{
    background-color: rgb(31 41 55);
}

::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track (the empty space in which the scrollbar sits) */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle (the draggable part of the scrollbar) */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .rotate180 {
    transform: rotate(180deg);
    transition: transform 0s ease; /* Add a smooth transition effect if desired */
  }

  .component-container {
    position: relative;
  }

  .bottom-div {
    position: absolute;
    bottom: 0;
  }

  
.card1 {
  border: 1px solid;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(21, 20, 20, 0.1);
  padding: 16px;
  --tw-bg-opacity: 1;
  background-color: rgb(17 24 39 / var(--tw-bg-opacity));
  width: 800px; 
  height: 500px;

}
.card2 {
  border: 1px solid;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(21, 20, 20, 0.1);
  padding: 16px;
  --tw-bg-opacity: 1;
  background-color: rgb(17 24 39 / var(--tw-bg-opacity));
  width: 500px; 
  height: 500px;

}
.card3 {
  border: 1px solid;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(21, 20, 20, 0.1);
  padding: 16px;
  --tw-bg-opacity: 1;
  background-color: rgb(17 24 39 / var(--tw-bg-opacity));
  width: 700px; 
  height: 300px;

}
.card4 {
  border: 1px solid;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(21, 20, 20, 0.1);
  padding: 16px;
  --tw-bg-opacity: 1;
  background-color: rgb(17 24 39 / var(--tw-bg-opacity));
  width: 600px; 
  height: 300px;

}
.card {
  border: 1px solid;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(21, 20, 20, 0.1);
  padding: 16px;
  --tw-bg-opacity: 1;
  background-color: rgb(17 24 39 / var(--tw-bg-opacity));
  width: 650px; 
  height: 300px;

}
.cardL {
  border: 1px solid;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(21, 20, 20, 0.1);
  padding: 16px;
  --tw-bg-opacity: 1;
  background-color: rgb(17 24 39 / var(--tw-bg-opacity));
  width: 650px; 
  height: 200px;

}


